{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <link rel="shortcut icon" type="image/png" href="#"/>
		<title>{% block head_title %}Shoffex Online Shopping Website{% endblock head_title %}</title>

		{% include "head_css.html" %}
		
		<style>
			{% block style %}{% endblock style %}
		</style>
	</head>
	<body>
		{% include "navbar.html" %}

		{% if slider %}
		{% include "bootstrap_slider.html" %}
		{% endif %}

		{% if messages %}
		  <div class="container">
		      {% for message in messages %}		      	
			    <div class='alert alert-{% if message.tags == "success" %}success{% else %}error{% endif %} text-center alert-dismissible'>
			    	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
			    </div>		    
		      {% endfor %}
		   
		  </div>
		{% endif %}

		<div class="container">
		{% block content %}{% endblock content %}
		</div>

		{% include "javascript.html" %}

		<script>
		$(document).ready(function(){
		{% block jquery %}
		{% endblock jquery %}
		});
		</script>
	</body>
</html>
