{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<html>
<head>
	<title></title>
	<style type="text/css">
	.panel-default
	{
		margin-top: 30px;
	}
	.panel-body{
		line-height: 20px;
		/*color:  #92999f;*/
		font-size: 13px;
		font-weight: normal;
		margin: 0;
		font: sans-serif;
	}
	</style>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">Cancellation & Refund Policy</div>
		<div class="panel-body">
			<strong>ShOffex.com</strong> believes in & we can helping its customers as far as possible, and has therefore a liberal cancellation policy.<br/><br/>

			<strong>How do I cancel an order on ShOffex.com?</strong><br/><br/>
			If unfortunately you have to cancel an order, please do so within 24 hours of placing the order.<br/><br/>

			For outright cancellations by you:<br/><br/>
			- If you cancel your order before your product has shipped, we will refund the entire amount.<br/><br/>

			If the cancellation is after your product has shipped:<br/><br/>
			-  If you received the product, it will be eligible for replacement, only in cases where there are  NO defects found with the product.<br/><br/>

			<strong>Refund Policy:</strong><br/><br/>
			Refunds will be made in the same form that the payment is received within 10 working days from the date of cancellation of order.<br/>

			In case of complaints regarding products that come with a warranty from manufacturers, please refer the issue to the concerned manufacturer. Let us know & we’ll help you regarding the same.<br/><br/>

			If you think, you have received the product in a bad condition or if the packaging is tampered with or damaged before delivery, <strong>please refuse to accept the package</strong> and return the package to the delivery person. Also, please call our customer care at <strong>9158685500</strong> or email us at<strong> support@shoffex.com</strong> mentioning your Order ID. We will personally ensure that a brand new replacement is issued to you with no additional cost. Please make sure that the original product tag and packing is intact when you send us the product back.<br/><br/>

			<strong>Apart from condition reserved herein above, the following products shall not be eligible for return or replacement, viz:</strong>

			<ul>
				<li>
					Any product that exhibits physical damage to the box or to the product;
				</li>
				<li>
					Any product that is returned without all original packaging and accessories, including the retail box, manuals, cables, and all other items originally included with the product at the time of delivery;
				</li>
				<li>
					Any product without a valid, readable, untampered serial number, including but not limited to products with missing, damaged, altered, or otherwise unreadable serial number;
				</li>
				<li>
					 Any product from which the UPC (Universal Product Code) has been removed from its original packaging.
				</li>
			</ul>







		</div>
	</div>
</body>
</html>	

{% endblock content%}