{% extends "base.html" %}
{% load staticfiles %}
<style>
{% block style %}
.ok {
	color: green;
	display: none;
}
.remove{
	color: red;
	display: none;
}
{% endblock style %}
</style>

<script>
{% block jquery %}
$("#mobile").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        $("#mobile_error").html("Digits Only").show().fadeOut("slow");
               return false;
    }
 });

$('#forget_next').click(function(){

	$.ajax({
		type: "get",
		url: "{% url 'account:password_reset' %}",
		data:{
			'mobile': $('#mobile').val(),
		},
		success:function(data){
			if (data.data == "yes"){
				$('#mobile_no').val($('#mobile').val());
				$('#xyz').hide();
				$('#abc').show();
			}
			if (data.data == "no"){
				$('#mobile_error').html("This mobile no. Not exist. please retype..")
			}
		},
		error:function(response, error){
			console.log(error);
		}
	});
});
{% if request.session.mobile2 %}
$('#xyz').hide();
$('#abc').show();
{% else %}
$('#abc').hide();
{% endif %}

$("#otp").change(function(){
	$.ajax({
		type: "GET",
		url: "{% url 'account:replace_pass' %}",
		data: {
			'data': $("#otp").val(),
		},
		success: function(data){

			if (data.token == "yes")
			{
				$(".ok").css('display', 'inline-block');
				$(".remove").css('display', 'none');
				$("#pass_reset").removeClass('disabled', '');
			}
			else
			{
				$(".ok").css('display', 'none');
				$(".remove").css('display', 'inline-block');
				$("#pass_reset").addClass('disabled');
			}
			console.log(data.token);
		},
		error: function(response, error){
			console.log(response);
			console.log(error);
		},

	});
});
var password = document.getElementById("reset_password")
var confirm_password = document.getElementById("sign_c_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
{% endblock jquery %}
</script>

{% block content %}
	<div class="row" style="margin-top: 20px;">
		<div class="col-sm-6">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Forget Password</h3>
			  </div>
			  <div class="panel-body">
			  	<div id="xyz">
				    <div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" maxlength="10" class="form-control" id="mobile" name="mobile" placeholder="Mobile No" required>
					</div>
					<span class="help-block"></span>
					<span id="mobile_error" style="color: red;"></span>

					<button class="btn btn-lg btn-primary btn-block" type="submit" id="forget_next">Next</button>
				</div>
				<div id="abc">
					<form method="POST" action="{% url 'account:replace_pass' %}">{% csrf_token %}
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" maxlength="10" class="form-control" id="mobile_no" name="mobile_no" placeholder="Mobile No" value="{{ request.session.mobile2 }}" required>
						</div>
						<input type="hidden" name="next" value="{{ next }}" />
						<span class="help-block"></span>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" maxlength="10" class="form-control" id="otp" name="otp" placeholder="Enter Otp send on your Mobile" required>
							<span class="glyphicon glyphicon-ok ok" aria-hidden=true></span>
	    					<span class="glyphicon glyphicon-remove remove" aria-hidden=true></span>
						</div>
						<span class="help-block"></span>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="password" maxlength="10" class="form-control" id="reset_password" name="reset_password" placeholder="Password" required>
						</div>
						<span class="help-block"></span>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="password" maxlength="10" class="form-control" id="sign_c_password" name="sign_c_password" placeholder="Confirm Password" required>
						</div>
						<span class="help-block"></span>
						<button class="btn btn-lg btn-primary btn-block disabled" type="submit" id="pass_reset">RESET</button>
					</form>
				</div>
			  </div>
			  
			</div>
		</div>
		
	</div>

{% endblock content %}