{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<html>
<head>
	<title></title>
	<style type="text/css">
	.panel-default
	{
		margin-top: 30px;
	}
	.panel-body{
		line-height: 20px;
		/*color:  #92999f;*/
		font-size: 13px;
		font-weight: normal;
		margin: 0;
		font: sans-serif;
	}
	</style>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">Shopping & Delivery</div>
		<div class="panel-body">
			<strong>ShOffex.com</strong> is committed to deliver your order with good quality packaging within given time frame. We ship throughout the week, except Sunday & Public holidays. To ensure that your order reaches you in good condition, in the shortest span of time, we ship through reputed courier agencies only. If there is no courier service available in your area, we will ship your items via Government Registered Bookpost or Speedpost.<br/><br/>

			<strong>How the delivery charge is calculated for multiple units?</strong><br/><br/>
			The shipping charge is specified separately for every product. For multiple products ordered the programme adds up the total of all individual shipping charges. Thus, a customer who orders three products is charged the total of all individual delivery charges associated with each product. Thus the delivery fee is calculated separately when a customer orders different products.<br/>

			Our prices are all inclusive. All taxes are included with the list prices except Octroi, if applicable in your region. There will be an Extra Octroi charges for shipment to Maharashtra Region.<br/><br/>

			<strong>How long does it take for an order to arrive</strong><br/><br/>

			Orders are dispatched within 3 working days or as per the delivery date specified by you at the time of placing the order. Most orders are delivered within 7 to 8 working days. Delivery of all orders will be duly done to the address as mentioned by you at the time of placing the order.<br/>

			<strong>What if I the product is received in damaged condition?</strong><br/><br/>

			If you think, you have received the product in a bad condition or if the packaging is tampered with or damaged before delivery,<strong> please refuse to accept the package</strong> and return the package to the delivery person. Also, please call our customer care at <strong>9158685500</strong> or email us at<strong> support@shoffex.com </strong>mentioning your Order ID. We will personally ensure that a brand new replacement is issued to you with no additional cost. Please make sure that the original product tag and packing is intact when you send us the product back.
		</div>
	</div>
</body>
</html>	

{% endblock content%}