body {
  min-height: 2000px;
  padding-top: 52px;
}

h1 {
	color: #777777;
}

/*  Home Page Slider */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}