{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="pill" href="#orders" style="color: black">Orders</a></li>
	<li><a data-toggle="pill" href="#open" style="color: black">Open</a></li>
	<li><a data-toggle="pill" href="#cancel" style="color: black">Cancelled Orders</a></li>
 </ul>
<div class="tab-content">

	<div id="orders" class="tab-pane fade in active">
		<div class="row" style="background-color: #ccccb3;border: 1px solid black;border-bottom: 0px; margin-top: 100px;">
			<div class="col-lg-2 col-md-2">
				<h5>ORDER PLACED</h5>
				<h5>10 February 2016</h5>
			</div>
			<div class="col-lg-2 col-md-2">
				<h5>TOTAL</h5>
				<h5>Rs.1,444.00</h5>
			</div>
			<div class="col-lg-3 col-md-3">
				<h5>SHIP TO</h5>
				<h5>Mahendra Kamble</h5>
			</div>
			<div class="col-lg-1 col-lg-1">
				
			</div>
			<div class="col-lg-4 col-md-4">
				<h5>ORDER #404-8637794-0303532</h5>
				<h5><a href="">Order Detai</a> | <a href="">Invoice</a></h5>
			</div>
		</div>
		<div class="row" style="border: 1px solid black;">
			<h3 style="margin-left: 25px;">Return Complete</h3>
			<h5 style="margin-left: 25px;">Your return is complete. Your refund has been issued.</h5>			
			<div class="col-lg-1 col-md-1">
				<img src="/media/products/test1/test1-None.jpg" height="100" width="100">
			</div>
			<div class="col-lg-7 col-md-7">
				<h6><a href="">Fastrack black analog watch</a></h6>
				<h6>Slod By: <a href=""> Gabbar Deals</a></h6>
				<h6>Rs. 1,394.00</h6>
			</div>	
			<div class="col-lg-4 col-md-4">
				<button style="background-color: orange; height: 32px; width:250px"> View Retur/Refund Status</button>
				<button style="background-color:#ebebe0; height: 32px; width:250px"> Leave Feedback</button>
				<button style="background-color:#ebebe0; height: 32px; width:250px"> Write a product review</button>
			</div>
		</div>
	</div>

	<div id="open" class="tab-pane fade">
		<h3>Open</h3>
	</div>

	<div id="cancel" class="tab-pane fade">
		<h3>Cancelled Orders</h3>
	</div>

</div>
	

{% endblock %}