{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- <div class="row" style="height: 700px;">
	<div class="col-lg-3" style="background-color: rgba(255, 85, 0, 0.5); border: 2px solid rgb(255, 85, 0);">
		<h5><span class="glyphicon glyphicon-list-alt"></span> View Order History</h5>
		<h5><span class="glyphicon glyphicon-home"></span> Change Shipping Address</h5>
		<h5><span class="glyphicon glyphicon-phone"></span> Change Mobile Number</h5>
	</div>
	<div class="col-lg-6" align="center">
		<h3> Your History </h3> 
		<div class="panel-group">
			<div class="panel panel-primary">
			     <div class="panel-heading">Panel with panel-primary class</div>
			      <div class="panel-body">Panel Content</div>
			    </div>

			    <div class="panel panel-success">
			      <div class="panel-heading">Panel with panel-success class</div>
			      <div class="panel-body">Panel Content</div>
			    </div>

			    <div class="panel panel-info">
			      <div class="panel-heading">Panel with panel-info class</div>
			      <div class="panel-body">Panel Content</div>
			    </div>

			    <div class="panel panel-warning">
			      <div class="panel-heading">Panel with panel-warning class</div>
			      <div class="panel-body">Panel Content</div>
			    </div>

			    <div class="panel panel-danger">
			      <div class="panel-heading">Panel with panel-danger class</div>
			      <div class="panel-body">Panel Content</div>
			    </div>

		</div>
	</div>
</div> -->



<div class="row" style="border: 1px solid #d0d0e2; background-color: #efeff5;">
	<h3 style="margin-left: 25px;color: brown; text-shadow: 1px 1px black;">Orders</h3>
	<div class="col-lg-4 col-md-4">
		<img src="/media/products/logo/orders.png" height="120" width="150">
	</div>
	<div class="col-lg-8 col-md-8" >
		<h4><a href="/account/order-history" style="color:black">Order History</a></h4>
	</div>
</div>
<br>
<div class="row" style="border: 1px solid #d0d0e2;background-color: #efeff5;">
	<h3 style="margin-left: 25px;color: brown; text-shadow: 1px 1px black;">Settings</h3>
	<div class="col-lg-4 col-md-4">
		<img src="/media/products/logo/settings.png" height="150" width="150">
	</div>
	<div class="col-lg-4 col-md-4">	
		<h4><a href="/account/user-settings/" style="color: black">Account</a></h4>
		<h5><a href="/account/user-settings/">-Name</a></h5>
		<h5><a href="/account/user-settings/">-Email</a></h5>
		<h5><a href="/account/user-settings/">-Password</a></h5>
		<h5><a href="/account/user-settings/">-Mobile Number</a></h5>

	</div>
	<div class="col-lg-4 col-md-4">
		<h4><a href="" style="color: black">Address Book</a></h4>
		<h5><a href="">-Edit Current Address</a></h5>
		<h5><a href="">-Add Another Address</a></h5>
	</div>
</div>
<br>
<div class="row" style="border: 1px solid #d0d0e2; background-color: #efeff5;">
	<h3 style="margin-left: 25px;color: brown; text-shadow: 1px 1px black;">Payments</h3>
	<div class="col-lg-4 col-md-4">
		<img src="/media/products/logo/payment.png" height="120" width="150">
	</div>
	<div class="col-lg-8 col-md-8" >
		<h4 style="color: black">Payment Mode</h4>
		<h5><a href="">-Add Payment Method</a></h5>
		<h5><a href="">-Edit Or Delete Payment Method</a></h5>
		<h5><a href="">-Add Credit or Debit Card</a></h5>
		<h5><a href="">-Manage Your Banck Account for Refund</a></h5>

	</div>
</div>



{% endblock %}