{% extends "base.html" %}

{% block content %}

{% for page in pages %}
<div class="row">
	<div class="col-lg-1" style="border-top-right-radius: 50px;border-bottom-right-radius:50px;">
	<h3><a href="/" class="text-right glyphicon glyphicon-home" style="color:black;"></a></h3>
	</div>
	<div class="col-lg-6" style="border-radius: 50px;">
		<h3 style="font-style: oblique;">{{ page.page_name }}</h3> 
	</div>
</div>

<div class="row" style="font-style: oblique">
	<hr/>
	<div class="col-sm-12">
		<p class="lead ">		
			{{ page.content|safe }}
		</p>
	</div>
</div>
{% endfor %}
{% endblock content %}