{% extends "base.html" %}

{% block content %}
<div class="row" style="margin-top: 30px;">
	<div class="col-sm-6 text-center">
	{% include "orders/order_summary_short.html" with order=order %}
	<p>
	<a href="{% url 'order_address' %}">Change an Address</a>	
	</p>
	</div>
	<div class="col-sm-6 text-center">
	<div><p class="lead">Payment Method</p></div>
	<form method="POST" action="{% url 'checkout_final' %}">{% csrf_token %}
	<button type="submit" class="btn btn-warning btn-lg btn-block" name="payment_token" value="COD">COD</button>
	</form>
	<form method="POST" action="{% url 'checkout_final' %}">{% csrf_token %}
	<button type="submit" class="btn btn-primary btn-lg btn-block" name="payment_token" value="PAYU">PAYU MONEY</button>
	</form>
	<input type="hidden" name="payment_token" value="ABC" />
	<p><b><button type="submit">Complete Order</button></b></p>
	
	</div>

</div>
{% endblock %}