{% extends "base.html" %}
{% load staticfiles %}
<style>
{% block style %}
.pro-image{
	width: 100%;
	height: auto;
	border-width: 1px;
    border-style: solid;
    border-color: black;
}
.image-thumb{
	float: left;
	width: 80px;
	height: 80px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.image-thumb:hover{
	border-width: 2px;
    border-style: solid;
    border-color: red;
}

.pro-color{
	float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.pro-color:hover{
	border-width: 2px;
	border-color: red;
}
.color-selected{
	border-width: 2px;
	border-color: red;
}

/* styles unrelated to zoom */

/* these styles are for the demo, but are not required for the plugin */
.zoom {
	display:inline-block;
	position: relative;
}

/* magnifying glass icon */
.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
	background:url({% static 'image/icon.png' %});
}

.zoom img {
	display: block;
}

.zoom img::selection { background-color: transparent; }

#ex2 img:hover { cursor: url({% static 'image/grab.cur' %}), default; }
#ex2 img:active { cursor: url({% static 'image/grabbed.cur' %}), default; }

{% endblock style %}
</style>
<script>
{% block jquery %}

$('#ex1').zoom();

$(".image-thumb img").hover(function(){
	var loc = $(this).attr("src");
	$(".pro-image img").attr("src", loc);
});


$(".pro-color").click(function(){
	var color = $(this).attr("data-color");
	var col = $(this);
	$(".pro-color").removeClass("color-selected");
	$.ajax({
		type: "GET",
		url: "{% url 'products:color_view' %}",
		data:{
			"data": color,
		},
		success:function(data){
			if(color == data.color){
				$(col).addClass("color-selected");
			}
		},
		error:function(response, error){
			console.log(error);
		}
	});
});

function setPrice(){
	var price = $(".variation_select option:selected").attr("data-price");

	var sale_price = $(".variation_select option:selected").attr("data-sale-price");
	if(sale_price != "" && sale_price != "None" && sale_price != null){
		$("#price").html('<h3>Rs.' + sale_price + ' <small class="og-price">Rs.' + price + '</small></h3>');
	}else{
		$("#price").html('Rs. ' + price);
	}
}

setPrice();

$(".variation_select").change(function(){
	setPrice();
});

{% endblock jquery %}
</script>


{% block content %}

<div class="row">

	<div class="col-sm-4">
		<span class="pro-image zoom" id='ex1'>
		{% if object.get_image_url %}
		<img src="{{ object.get_image_url }}" width='300' height='300' alt='Daisy'/>
		{% endif %}
		</span>
		
		<div class="clearfix" align="center">
        {% for img in object.productimage_set.all %}
            <div class="image-thumb">
            	<img src="{{ img.image.url }}" alt="image thumbnail" class="thumb" width="76" height="76">
            </div>
        {% endfor %}
		</div>
	</div>

	<div class="col-sm-4">
		<h3>{{ object.title }}</h3>

		<p class="lead">
			<h4>Short Description</h4>
			{{ object.short_description|safe }}
		</p>
	</div>

	<!-- Product Sidebar -->
	<div class="col-sm-4">

		{% if object.variation_set.count > 1 %}
		<h4 id="price">Rs. {{ object.variation_set.first.price }}</h4>
		<h4>Select Size:</h4>
		<select class="form-control variation_select">
		{% for vari_obj in object.variation_set.all %}
		<option data-sale-price="{{ vari_obj.sale_price }}" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option>
		{% endfor %}
		</select>
		{% elif object.shoessizes.count > 0 %}
		<h4>Select Size:</h4>
		<select class="form-control">
			{% for shoessize in object.shoessizes.all %}
				<option value="{{ shoessize.id }}">{{ shoessize.title }}</option>
			{% endfor %}
		</select>

		{% elif object.shirtsizes.count > 0 %}
		<h4>Select Size:</h4>
		<select class="form-control">
			{% for shirtsize in object.shirtsizes.all %}
				<option value="{{ shirtsize.id }}">{{ shirtsize.title }}</option>
			{% endfor %}
		</select>
		{% else %}
		<h4 id="price">Rs. {% if object.variation_set.first.sale_price %}
			Rs. {{ object.variation_set.first.sale_price }}
			<small class='og-price'>Rs. {{ object.variation_set.first.price }}</small>
			{% else %}
			Rs. {{ object.variation_set.first.price }}
			{% endif %}
		</h4>
		{% endif %}
		{% if object.color.count > 0 %}
		<h4>Select Color:</h4>
		<p class="lead">
		{% for color in object.color.all %}
			{% if color.title == request.session.color %}
			<a href="javascript:void(0)"><span data-color="{{ color.title }}" class="pro-color color-selected" style="background-color:{{ color.title }};"></span></a>
			{% else %}
			<a href="javascript:void(0)"><span data-color="{{ color.title }}" class="pro-color" style="background-color:{{ color.title }};"></span></a>
			{% endif %}			
		{% endfor %}
		</p>
		{% endif %}
		
		<br/>
		<br/>

		<a href="#">Add to Cart</a>
		
		<br/>
		<hr/>
	<h4>Share</h4><br/>
		<p>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
	<i class="fa fa-facebook-square fa-3x"></i>
		</a>
		<a href="https://twitter.com/home?status={{ request.build_absolute_uri }}">
	<i class="fa fa-twitter-square fa-3x"></i>
		</a>
		<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
	<i class="fa fa-google-plus-square fa-3x"></i>
		</a>
		</p>
		<br/>
		<hr/>
	</div>
	<!-- End Product Sidebar -->
</div>

<div class="row">
	<hr/>
	<div class="col-sm-8">
		<p class="lead">
			<h3>Long Description</h3>
			{{ object.long_description|safe }}
		</p>
	</div>
	<div class="col-sm-4">
		<h4>Related Products</h4>
		<div class="row">
		{% for product in related %}
		<div class="col-xs-6">
			{% include "products/product_thumbnail.html" with product=product price="True" %}
		</div>
		{% cycle '' '</div><div class="row">' %} 
		{% endfor %}
	</div>
</div>
{% endblock content %}