{% extends "base.html" %}

{% block content %}

<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="pill" href="#orders" style="color: black">Orders</a></li>
	<!-- <li><a data-toggle="pill" href="#open" style="color: black">Open</a></li>
	<li><a data-toggle="pill" href="#cancel" style="color: black">Cancelled Orders</a></li> -->
 </ul>
{% if object_list|length <= 0 %}

<div class="text-center">
	<p class="lead">
		You do not currently have orders.
	</p>
</div>

{% else %}
<br/>
 {% for object in object_list %}
<div class="tab-content">
	<div id="orders" class="tab-pane fade in active">
		<div class="row" style="background-color: #ccccb3;border: 1px solid black;border-bottom: 0px;">
			<div class="col-lg-2 col-md-2">
				<h5>ORDER PLACED</h5>
				<h5>{{ object.timestamp }}</h5>
			</div>
			<div class="col-lg-2 col-md-2">
				<h5>TOTAL</h5>
				<h5>Rs.{{ object.order_total }}</h5>
			</div>
			<div class="col-lg-3 col-md-3">
				<h5>SHIP TO</h5>
				<h5>{{ object.shipping_address.full_name }}</h5>
			</div>
			<div class="col-lg-1 col-lg-1">
				
			</div>
			<div class="col-lg-4 col-md-4">
				<h5>ORDER #{% if object.order_id %}{{ object.order_id }} {% else %}{{ object.id }}{% endif %}</h5>
				<h5><a href="{% url 'order_detail' object.pk %}">Order Details</a> | <a href="{% url 'invoice' object.id %}" target="_blank">Invoice</a></h5>
			</div>
		</div>
		<div class="row" style="border: 1px solid black;">
			<h4 style="margin-left: 25px;">Product Information</h4>
			<div class="col-lg-8 col-md-8">
				{% for var in object.cart.items.all %}
				<div>			
					<img src="{{ var.product.get_image_url }}" height="100" width="100">
				</div>
				<div>
					<h6><a href="{{ var.product.get_absolute_url }}">{{ var.product.title }}</a></h6>
					<h6>Rs. {{ var.product.price }}</h6>
				</div>
				{% endfor %}
			</div>	
		
			<div class="col-lg-4 col-md-4">
				<button style="background-color: orange; height: 32px; width:250px"> View Retur/Refund Status</button>
				<button style="background-color:#ebebe0; height: 32px; width:250px"> Leave Feedback</button>
				<button style="background-color:#ebebe0; height: 32px; width:250px"> Write a product review</button>
			</div>
			
		</div>
	</div>

	<div id="open" class="tab-pane fade">
		<h3>Open</h3>
	</div>

	<div id="cancel" class="tab-pane fade">
		<h3>Cancelled Orders</h3>
	</div>

</div>
{% endfor %}
<br/>
<br/>
{% endif %}
{% endblock content %}